perrinet_curriculum-vitae.log
.DS_Store
perrinet_curriculum-vitae.aux
perrinet_curriculum-vitae.fdb_latexmk
perrinet_curriculum-vitae.fls
perurinet_curriculum-vitae.log
perrinet_curriculum-vitae.out
perrinet_publications.aux
perrinet_publications.bcf
perrinet_publications.log
perrinet_publications.out
perrinet_publications.run.xml
perrinet_publications.synctex.gz
