perrinet_curriculum-vitae.log
.DS_Store
perrinet_curriculum-vitae.aux
perrinet_curriculum-vitae.fdb_latexmk
perrinet_curriculum-vitae.fls
perurinet_curriculum-vitae.log
perrinet_curriculum-vitae.out
perrinet_publications.aux
perrinet_publications.bcf
perrinet_publications.log
perrinet_publications.out
perrinet_publications.run.xml
perrinet_publications.synctex.gz
perrinet_publications.bbl
perrinet_publications.blg
perrinet_curriculum-vitae-full.aux
perrinet_curriculum-vitae-full.bbl
perrinet_curriculum-vitae-full.bcf
perrinet_curriculum-vitae-full.blg
perrinet_curriculum-vitae-full.fdb_latexmk
perrinet_curriculum-vitae-full.fls
perrinet_curriculum-vitae-full.log
perrinet_curriculum-vitae-full.out
perrinet_curriculum-vitae-full.run.xml
perrinet_curriculum-vitae-full.synctex.gz
perrinet_curriculum-vitae-short.aux
perrinet_curriculum-vitae-short.log
perrinet_curriculum-vitae-short.out
perrinet_curriculum-vitae-short.synctex.gz
perrinet_curriculum-vitae.synctex.gz
perrinet_publications.pdf
perrinet_curriculum-vitae-short.fdb_latexmk
perrinet_curriculum-vitae-short.fls
